.phone {
  position: relative;
  width: 400px;
  height: 700px;

  border-radius: 30px;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#service {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.service__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__text > p {
  width: 400px;
  line-height: 40px;
}
